*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
body,
div,
span,
p,
blockquote,
a,
abbr,
img,
b,
i,
ul,
li,
footer,
header,
nav,
h1,
h2,
des {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
footer,
header,
nav {
  display: block;
}
blockquote {

}
button {
  margin: 0;
}
button {
  width: auto;
  overflow: visible;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
}
img {
  height: auto;
}
img {
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}
body {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 0.9375em;
  line-height: 1.65em;
  background: #ffffff;
  color: #222222;
}
a {
  color: #134da5;
}
a:focus,
a:hover {
  color: #de2c3b;
}
h1,
h2,
des {
  font-family: serif;
  font-weight: bold;
  color: #000000;
  text-rendering: optimizeLegibility;
  margin: 0 0 .5em 0;
}
h1,
h2 {
  line-height: 1.1;
}
h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 1.8em;
  margin-bottom: .7em;
}
des {
  font-size: 1.15em;
}
p,
ul,
blockquote {
  line-height: 1.65em;
  text-align: justify;
}
ul {
  margin: 0 0 0 3.3em;
}
ul li {
  text-align: justify;
}
p,
ul,
blockquote {
  margin-bottom: 1.65em;
}
blockquote {
  position: relative;
  font-style: italic;
  font-size: 1.125em;
  margin-left: 2.4749999999999996em;
  padding-left: 1.65em;
  border-left: 2px solid #dddddd;
}
abbr[title] {
  border-bottom: 1px dotted #0f0f0f;
  cursor: help;
}
b {
  font-weight: bold;
}
i {
  font-style: italic;
}
button:active,
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.units-row:after {
  content: "";
  display: table;
  clear: both;
}
.units-row:after {
  content: "";
  display: table;
  clear: both;
}
.units-row {
  margin-bottom: 1.65em;
}
.unit-70 {
  width: 70%;
}
.unit-50 {
  width: 50%;
}
.unit-30 {
  width: 30%;
}
.units-row .unit-70,
.units-row .unit-50,
.units-row .unit-30 {
  float: left;
  margin-left: 3%;
}
.units-row .unit-50:first-child,
.units-row .unit-30:first-child {
  margin-left: 0;
}
.units-row .unit-70 {
  width: 69.1%;
}
.units-row .unit-50 {
  width: 48.5%;
}
.units-row .unit-30 {
  width: 27.9%;
}
.units-split .unit-70,
.units-split .unit-30 {
  margin-left: 0;
}
.units-split .unit-70 {
  width: 70%;
}
.units-split .unit-30 {
  width: 30%;
}
.navbar {
  font-size: 105%;
  margin-bottom: 1.65em;
}
.navbar:after {
  content: "";
  display: table;
  clear: both;
}
.navbar:after {
  content: "";
  display: table;
  clear: both;
}
.navbar ul {
  list-style: none;
  margin: 0;
}
.navbar ul:after {
  content: "";
  display: table;
  clear: both;
}
.navbar ul:after {
  content: "";
  display: table;
  clear: both;
}
.navbar li {
  float: left;
  margin-right: 1.65em;
}
.navbar a {
  display: flex;
  text-decoration: none;
}
.navbar a:hover {
  color: #de2c3b;
  text-decoration: underline;
}
.navbar li.active a {
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.4);
}
.navigation-toggle {
  display: none;
  text-transform: uppercase;
  position: relative;
  color: #0f0f0f;
  background-color: #ffffff;
}
.navigation-toggle:after {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -12px;
  left: 10px;
  content: "\2630";
  font-size: 24px;
  line-height: 1;
}
.navigation-toggle span {
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: block;
  padding: 10px 20px 10px 40px;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.right {
  float: right;
}
.list-flat {
  margin-left: 0;
  list-style: none;
}
@media only screen and (max-width: 767px) {
  .right {
    float: none;
  }
}
@media only screen and (max-width: 767px) {
  .units-row .unit-70,
  .units-row .unit-50,
  .units-row .unit-30 {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-bottom: 1.65em;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  h1 {
    font-size: 2.25em;
    line-height: 1.125;
  }
  h2 {
    font-size: 1.5em;
    line-height: 1.25;
  }
  des {
    font-size: 1.15em;
    line-height: 1.2777777;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.25em;
    line-height: 1.25;
  }
  h2 {
    font-size: 1.5em;
    line-height: 1.15384615;
  }
  des {
    font-size: 1.15em;
  }
  ul {
    margin-left: 1.65em;
  }
  blockquote {
    margin-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .navbar li {
    float: none;
    text-align: left;
    width: auto;
  }
  .navbar li {
    margin-left: 0;
    margin-right: 0;
  }
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
    font-size: 12pt;
  }
  h1 {
    font-size: 36pt;
  }
  h2 {
    font-size: 24pt;
  }
  des {
    font-size: 13pt;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after {
    content: "";
  }
  blockquote {
    page-break-inside: avoid;
  }
  blockquote {
    border: none;
    font-style: italic;
  }
  img {
    max-width: 100% !important;
  }
}
